:root {
  --color-primary: #1D1D1D;
  --color-secondary: #1D1D1D / 50%;
  --color-tertiary: #1D1D1D / 30%;
  --color-secondary-solidB2B: #929292;

  --color-background-default: #FFFBF3;
  --color-background-floating: #FFFFFF;
  --color-background-accent: #FAEFDB;
  --color-background-accent-transparency: #F5DFB8 / 50%;
  --color-background-overlay: #F5DFB8 / 36%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  background: var(--color-background-default);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
